*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
/*header*/
/*------------------------------------------------------------------------------------------------------*/

.container-fluid{
    background-color: #774936;
    width: 100%;
}

.navbar-brand{
    width: 100%;
    background-color: #774936;
}
.navbar-collapse{

    width: 100%;
    
}
#header-4{
    padding: 0;
}
.nav-link{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #3c0000;
}
.nav-link:hover{
    text-decoration: underline;
}
/*------------------------------------------------------------------------------------------------------*/
.parrafo-1 {
text-align: center;
margin-left: 1.875rem;
margin-right: 1.875rem;
margin-top: 3.125rem;
font-size: 1.2rem;
}

.parrafo-2 {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1.875rem;
    margin-left: 0.625rem;
    margin-bottom: 1.875rem;
}

.fondo{
    position: relative;
    padding-bottom: 2.5rem;
    min-height: 100vh;
    background-color:#D69F7E 
}

.footer{
    background-color: #7d3c3c;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-list{
    padding: 1rem;
    list-style-type: none;
    text-align: left;
}

.img{
    width:100%;
    
   padding-top: 1rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

.img2{
    background-image: url(../images/e1a048a4-4658-4f78-beb1-31a52af6bf8b\ \(1\).jpg);
    background-repeat: none;
    background-size: cover;
    width: 100%;
}
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.contactame{
    margin-top: 3.125rem;
    text-align: center;
    list-style-type: none;
}

.contact{
    text-align: center;
    margin-top: 1.25rem;
    text-decoration: underline;
}

.potterys{
    text-decoration: none;
    font-size: 1.50rem;
    text-align: center;
    color: black;
    background-color: #774936;
}

.grid{
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "producto-1 producto-2" 
    "producto-3 producto-4" ;
    
}
#grid-repair{
    row-gap: 0;
    column-gap: 2rem;
}
.Producto-1{
    
    width: 100%;
    
}

.Producto-2{
    
    width: 100%;
    
}

.Producto-3{
   
    width: 100%;
}
.Producto-4{
    
    width: 100%;
    
    
}

.productos{
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom:1.25rem;
    text-align: center;
    text-decoration: underline;
}

@media {max-width: ;}