@media (max-width:1200px) 
{
.grid{
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    .Producto-1{
        width: 100%;
        height: 50vh;
        transition: 0.5s;
        &:hover{
            transform: scale(1.1);
        }
    }
    .Producto-2{
        width: 100%;
        height: 50vh;
        transition: 0.5s;
        &:hover{
            transform: scale(1.1);
        }
    }
    .Producto-3{
        width: 100%;
        height: 50vh;
        transition: 0.5s;
        &:hover{
            transform: scale(1.1);
        }
    }
    .Producto-4{ 
        width: 100%;
        height: 50vh;
        transition: 0.5s;
        &:hover{
            transform: scale(1.1);
        }
    }
}
#grid-repair{
    row-gap: 0;
    column-gap: 2rem;
    row-gap: 2rem;
}

.navbar-brand{
    width: 100%;
    text-align: left;
    background-color: $colorPrincipal;
    color:#200606;
}

.nav-link{
    color: #3c0000;
    font-size: 1rem;
    &:hover{
        text-decoration: underline;
    }}

.parrafo-1 {
    background-color: $colorSecundario;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;}

.footer{
        background-color: $colorPrincipal;
        width: 100%;
        display: flex; 
        flex-wrap: wrap; 
        align-self: flex-end;
        .footer-list{
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: 1rem;
            list-style-type: none;
    
            .list-text{
                text-align: left;
                color:black;
                font-size: 1rem;}
                    
             }
    }
}
   

     @media(max-width:1000px)
     {
        .grid{
            display: grid;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
            grid-template-columns: 1fr 1fr; 
            .Producto-1{
                width: 100%;
                height: 50vh;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .Producto-2{
                width: 100%;
                height: 50vh;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .Producto-3{
                width: 100%;
                height: 50vh;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .Producto-4{ 
                width: 100%;
                height: 50vh;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }

        #grid-repair{
            row-gap: 0;
            column-gap: 2rem;
            row-gap: 2rem;
        }

        .navbar-brand{
            width: 100%;
            text-align: left;
            background-color: $colorPrincipal;
            color:#200606;
            }

            .nav-link{
                color: #3c0000;
                font-size: .7rem;
                &:hover{
                    text-decoration: underline;
                }}
        
        .parrafo-1 {
            background-color: #8f6452;
            font-size: .9rem;
            text-align: center;
            margin-bottom: 1rem;
            padding: 1rem;
            border-radius: 1rem;}
        
        .footer{
                background-color: $colorPrincipal;
                width: 100%;

                .footer-list{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    padding: 1rem;
                    list-style-type: none;
                    .list-text{
                        text-align: left;
                        color:black;
                        font-size: 1rem;
                        }
                    }
                }
           
            }
     
   @media(max-width:800px)
   {
    .navbar-brand{
        width: 100%;
        text-align: center;
        background-color: $colorPrincipal;
        color:#200606;
    }

    .nav-link{
        color: #3c0000;
        font-size: .7rem;
        &:hover{
            text-decoration: underline;
        }}

    .parrafos{
        display: flex;
        flex-direction: column;
        background-color: #8f6452 ;
        margin-top: 1rem;
        .parrafo-2 {
            font-size: 1.25rem;
            text-align: center;
            margin-top: 1.875rem;
            margin-left: 0.625rem;
            font-size: 1rem;
        }
        .parrafo-3 {
            font-size: 1.25rem;
            text-align: center;
            margin-left: 0.625rem;
            font-size: 1rem;
        }
    }
    
    .grid{
        display: grid;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        grid-template-columns: 1fr 1fr ;
        .Producto-1{
            width: 100%;
            height: 50vh;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .Producto-2{
            width: 100%;
            height: 50vh;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .Producto-3{
            width: 100%;
            height: 50vh;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .Producto-4{ 
            width: 100%;
            height: 50vh;
            transition: 0.5s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    #grid-repair{
        row-gap: 0;
        column-gap: 2rem;
        row-gap: 2rem;
    }
   
    .parrafo-1 {
        background-color: $colorSecundario;
        font-size: .8rem;
        text-align: center;
        padding: 1rem;
        border-radius: 1rem;
        }
        .footer{
            background-color: $colorPrincipal;
            width: 100%;
            .footer-list{
                display: flex;
                flex-direction: column;
                list-style-type: none;
                .list-text{
                    text-align: left;
                    color:black;
                    font-size: .8rem;
                }
            }
        }
        
        }
        @media (max-width:482px)
        
        {
            .navbar-brand{
                width: 100%;
                text-align: center;
                font-size: .8rem;
                background-color: $colorPrincipal;
                color:#200606;}
                

                .nav-link{
                    color: #3c0000;
                    font-size: .5rem;
                    &:hover{
                        text-decoration: underline;
                    }}

        
            .grid{
            display: grid;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 2rem;
            grid-template-columns: 1fr;
            .Producto-1{
                width: 100%;
                height: 50vh;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .Producto-2{
                width: 100%;
                height: 50vh;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .Producto-3{
                width: 100%;
                height: 50vh;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .Producto-4{ 
                width: 100%;
                height: 50vh;
                transition: 0.5s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        #grid-repair{
            row-gap: 0;
            column-gap: 2rem;
            row-gap: 2rem;
        }
       
        .footer{
                background-color: $colorPrincipal;
                width: 100%;

                .footer-list{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    padding: 1rem;
                    list-style-type: none;
                    .list-text{
                        text-align: left;
                        color:black;
                        font-size: .80rem;
                        }
                    }
                }
        .parrafo-1 {
            background-color: $colorSecundario;
            font-size: .75rem;
            text-align: center;
            padding: 1rem;
            border-radius: 1rem;
        }
        .tarjeta{
            display: flex;
            flex-direction: column;
            background-color:#D69F7E;
            max-width: fit-content;
            max-height: 5rem;
            padding: 1.25rem;
            border-radius: 1.25rem;
            
            .tarjeta-titulo{
                text-align: center;
                font-size: 1rem;
                .tarjeta-texto{
                    text-align: center;
                    font-size: .9rem;
                }}
            }

        }
        @media (max-width:409px)
        {
            .parrafo-1 {
                background-color: $colorSecundario;
                font-size: .65rem;
                text-align: center;
                padding: .75rem;
                border-radius: 1rem;
            }
            .nav-link{
                color: #3c0000;
                font-size: .5rem;
                &:hover{
                    text-decoration: underline;
                }}

            .footer{
                background-color: $colorPrincipal;
                width: 100%;

                .footer-list{
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    list-style-type: none;
                    .list-text{
                        text-align: left;
                        color:black;
                        font-size: .65rem;
                        }
                    }
                }
                .tarjeta{
                    display: flex;
                    flex-direction: column;
                    background-color:#D69F7E;
                    max-width: fit-content;
                    max-height: 5rem;
                    padding: 1.25rem;
                    border-radius: 1.25rem;
                    
                    .tarjeta-titulo{
                        text-align: center;
                        font-size: .9rem;
                        .tarjeta-texto{
                            text-align: center;
                            font-size: .6rem;
                        }}
                    }
        }